<div class="container-fluid mb-4">
  <div class="row d-flex justify-content-evenly">
    <div class="">
      <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb">
          <li
            class="breadcrumb-item"
            *ngFor="let breadcrumb of breadcrumbs; index as idx"
          >
            <a
              class=""
              (click)="navigateToUrl(breadcrumb?.url)"
              [ngClass]="{
                'primary-blue fw-bold': idx + 1 === breadcrumbs?.length
              }"
              style="font-size: 0.9rem"
            >
              {{ breadcrumb?.label }}
            </a>
          </li>

          <li *ngIf="breadcrumbs.length > 1" (click)="clearBreadcrumbs()">
            <!-- <div class="d-flex align-items-center ms-2"> -->
              <i class="fa fa-close ms-3" style="font-size: 1.5rem; color: red"></i>
              <!-- <small class="ms-1"
              > Clear breadcrumbs</small
            > -->
            <!-- </div> -->
          </li>
        </ol>
      </nav>
    </div>

    <!-- <a *ngIf="breadcrumbs.length > 1" (click)="clearBreadcrumbs()">
      <div class="d-flex align-items-center">
        <i class="fa fa-close" style="font-size: 1.5rem; color: red"></i>
        <small class="ms-1"
        > Clear breadcrumbs</small
      >
      </div>
    </a> -->
    
  </div>
  

 
</div>
