<div style="position: relative;"
  id="search-column">
  <div class="input-group d-flex align-items-center">
    <div class="input-group-prepend">
    </div>
    <input class="form-control searchbox" type="text" [(ngModel)]="searchField" 
        placeholder="Search products..."/>
    <div class="input-group-append">
      <button class="btn search-button primary-bg-color " 
       (click)="search(searchField)" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <div class="input-group-append ms-1">
      <button *ngIf="showSearchResult"  class="btn search-button primary-bg-color " 
        (click)="clearSearchbox()" type="button">
        <i class="fa fa-close" style="color: white"></i>
      </button>
    </div>
    
  </div>
  <ol
    class="list-group d-block"
    style=" position: absolute; top: 10; left: 0; z-index: 10;"
    *ngIf="showSearchResult"
  >
    <li key="{item}" 
      [routerLink]="['/selectedProduct', product._id]" (click)="setSelectedProduct(product._id)"
      class="py-1 px-2 list-group-item list-group-item-warning" 
      style="border: 1px solid"
      *ngFor="let product of searchResults">
      <small>{{
        product.description
      }}</small>
    </li>
  </ol>
</div>
