<div formGroupName="deliveryAddress">
    <div class="row mb-4">
        <div class="col mb-4">
            <label class="form-label">First Name</label>
            <input id="firstName" class="form-control fw-bold" type="text" formControlName="firstName"
                (change)="saveToDataStore()">

            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                <div *ngIf="firstName.hasError('required')">
                    First Name is required.
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <label class="form-label">Last Name</label>
            <input id="lastName" class="form-control fw-bold" type="text" formControlName="lastName"
                (change)="saveToDataStore()">

                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                    <div *ngIf="lastName.hasError('required')">
                        Last Name is required.
                    </div>
                </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label class="form-label">Phone Number</label>
                <input id="phone" class="form-control fw-bold" type="phone" formControlName="phone"
                    (change)="saveToDataStore()">
            </div>
        </div>
    </div>
</div>