<section _ngcontent-ng-c1013304335="">
    <div _ngcontent-ng-c1013304335="" class="row mb-4">
        <div _ngcontent-ng-c1013304335="" class="col">
            <label _ngcontent-ng-c1013304335="" class="form-label">First
                Name</label>
            <input _ngcontent-ng-c1013304335="" type="text" required=""
                class="form-control fw-bold ng-pristine ng-valid ng-touched">
            <!---->
        </div>
        <div _ngcontent-ng-c1013304335="" class="col">
            <label _ngcontent-ng-c1013304335="" class="form-label">Last
                Name</label>
            <input _ngcontent-ng-c1013304335="" type="text" required=""
                class="form-control fw-bold ng-pristine ng-valid ng-touched">
            <!---->
        </div>
    </div>
</section>

<section>
    <div class="row mb-4">
        <div class="col">
            <label class="form-label">First Name</label>
            <input class="form-control fw-bold" type="text"
                [(ngModel)]="checkoutData.deliveryAddress.firstName" required #firstName="ngModel"
                (change)="saveToDataStore()"
                (keyup)="validateInput('firstName', checkoutData.deliveryAddress.firstName)"
                >

            <div *ngIf="validation.firstName === false"
                class="alert"
              >
                First Name is required
             </div>
        </div>

        <div class="col">
            <label class="form-label">Last Name</label>
            <input class="form-control fw-bold" type="text"
                [(ngModel)]="checkoutData.deliveryAddress.lastName" required #lastName="ngModel"
                (change)="saveToDataStore()"
                (keyup)="validateInput('lastName', checkoutData.deliveryAddress.lastName)">

            <div *ngIf="validation.lastName === false"
                class="alert"
              >
                last Name is required
             </div>
        </div>
    </div>
   </section>