
    <div class="container-fluid">
        <app-home-hero-carousel></app-home-hero-carousel>

        <app-top-picks></app-top-picks>
        
        <!-- <section id="section-2" class="mt-5">
            <div class="row gx-3">
                <div class="col d-flex flex-column justify-content-between col-12 col-md-4 p-4" style="border: 1px solid var(--bs-gray-400) ;">
                    <div class="row d-lg-flex justify-content-between align-items-lg-center">
                        <div class="col col-12 col-md">
                            <h4>Benefits Down Every Aisle</h4>
                        </div>
                        <div class="col col-3"><a href="#">Sign In</a></div>
                    </div>
                    <div class="row">
                        <div class="col"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-04%2011-22-49.png"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <ul class="ps-3">
                                <li>Save more with exclusive offers</li>
                                <li>Track orders, save receipts</li>
                                <li>Get 5% off subscription orders</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary w-75 primary-button" type="button">Create An Account</button></div>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between col-12 col-md-4 p-4" style="border: 1px solid var(--bs-gray-400) ;">
                    <div class="row d-lg-flex justify-content-between align-items-lg-center">
                        <div class="col col-12 col-md">
                            <h4>Recently Viewed</h4>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col text-center d-flex flex-column justify-content-center"><i class="far fa-share-square" style="font-size: 30px;color: var(--bs-secondary);"></i>
                                <h5 class="mt-2">No Items Recently Viewed</h5>
                                <p>Get back to shopping—check out our weekly ad for the latest sales</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary w-75 secondary-button" type="button">Browse Weekly Ad</button></div>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between col-12 col-md-4 p-4" style="border: 1px solid var(--bs-gray-400) ;">
                    <div class="row d-lg-flex justify-content-between align-items-lg-center">
                        <div class="col col-12 col-md">
                            <h4>Up to 35% off Select Garage Storage &amp; Organization</h4>
                        </div>
                        <div class="col col-3"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-05%2011-07-17.png"></div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col text-center d-flex flex-column justify-content-center"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-05%2011-16-51.png"><small><br>Garage Cabinets (28)<br><br></small></div>
                            <div class="col text-center d-flex flex-column justify-content-center"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-05%2011-16-00.png"><small><br>Garage Storage Systems (15)<br><br></small></div>
                            <div class="col text-center d-flex flex-column justify-content-center"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-05%2011-16-30.png"><small><br>Workbenches &amp; Organization (24)<br><br></small></div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary w-75 primary-button" type="button">Shop Today's Specials</button></div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- <app-savings></app-savings> -->

        <app-deals></app-deals>
       
        <app-shop-by-category></app-shop-by-category>

        <section id="section-8" class="mt-5">
            <div class="row mt-2">
                <div class="col"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-08%2009-30-29.png"></div>
            </div>
        </section>

        <app-popular-categories></app-popular-categories>
            
    </div>