<div class="container-fluid">
    <section>
        <div class="row d-flex justify-content-center">
            <div class="col col-12 col-md-6">
                <div>
                    <h6>{{selectedProduct.brand}}</h6>
                    <h5 class="fw-bold">{{selectedProduct.description}}</h5>
                    <div [appRating]="selectedProduct.rating">
                        <span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <div class="row">
                            <div *ngFor="let img of selectedProduct.images"
                                class="col d-flex justify-content-center align-items-center col-12 p-2">
                                <div class="card p-2" style="width: 75px;height: 120px;"
                                    [ngClass]="{'gallery-product': currentGalleryImg === img }"
                                >
                                    <img class="img-fluid card-img-top w-100 d-block" 
                                        src="assets/img/{{img}}" 
                                        style="height: 97px;"
                                        (click)="setCurrentGalleryImg(img)"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-lg-flex justify-content-center">
                        <img class="img-fluid" src="assets/img/{{currentGalleryImg}}" style="width: 277.5px;">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-5">
                <section>
                    <div class="row">
                        <div class="col d-flex align-items-lg-center">
                            <img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-05%2011-07-17.png" style="width: 39.9px;height: 41px;">
                            <div class="d-flex align-items-center">
                                <span class="d-inline-block me-2" style="font-weight: bold;font-size: 39px;">
                                    <strong>{{selectedProduct.price | discountPrice:selectedProduct.discount}}</strong>
                                </span>
                            </div>
                            <div><small class="d-block">Limit 2 per order</small>
                                <small class="d-block strike-through">{{selectedProduct.price | currency}}</small>
                                <!-- <small class="d-block color-green">Save $700.00 (33%)</small> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <i class="fa fa-clock-o me-2 primary-color" style="font-size: 26px;"></i><small>Special Buy ends in&nbsp;12hrs :&nbsp;47mins :&nbsp;13secs</small></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex align-items-center"><img class="img-fluid me-2" src="assets/img/Screenshot%20from%202024-07-25%2014-22-41.png" style="width: 38px;"><small><strong>$234.00 </strong>/mo</small></div>
                    </div>
                </section>
                <section class="mt-5">
                    <ul class="px-3">
                        <li *ngFor="let feature of selectedProduct.features">{{feature}}</li>
                        <li><a>View More Details</a></li>
                    </ul>
                </section>
                <section class="mt-5">
                    <div>
                        <label class="form-label me-2">Color/Finish:</label>
                        <small><strong>{{productColor}}</strong></small>
                    </div>
                    <div class="me-2">
                        <a *ngFor="let color of colorImgs" 
                            (click)="getProductByColor(color)">
                            <img class="highlight-border-2" src="assets/img/{{color.img}}"
                            [ngClass]="{
                                'highlight-border-2': productColor === color.color}">
                        </a>
                    </div>
                </section>
                <section class="mt-5">
                    <div>
                        <label class="form-label me-2">Total Capacity (cu. ft.): </label>
                        <small class="fw-bold">{{productSize}}</small>
                    </div>
                    <div>
                        <div class="btn-group" role="group">
                            <button *ngFor="let size of selectedProduct.sizes"
                                (click)="setProductSize(size)"
                                class="btn btn-light capacity-btn fw-bold me-2" type="button" 
                                [ngClass]="{
                                    'highlight-border-2': productSize === size}"
                                style="border-color: var(--bs-tertiary-color);">
                                {{size}}
                            </button>
                        </div>
                    </div>
                </section>
                <section class="mt-5">
                    <button class="btn btn-primary w-75 primary-button" type="button"
                        (click)="addItemToCart()">
                        <i class="fa fa-cart-plus me-2"></i>Add To Cart
                    </button>
                </section>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1" style="font-size: 19px;">Product Details</button></h2>
                <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col col-12 col-md-4"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-29%2013-17-54.png">
                                <p style="font-size: 18px;">America’s Most Reliable Brand of Traditional Appliances</p>
                                <p>We put simplicity and durability first to give you easy-to-use appliances that give you time for those who really matter.</p>
                            </div>
                            <div class="col col-12 col-md-4"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-29%2013-18-05.png">
                                <p style="font-size: 18px;">America’s Most Reliable Brand of Traditional Appliances</p>
                                <p>We put simplicity and durability first to give you easy-to-use appliances that give you time for those who really matter.</p>
                            </div>
                            <div class="col col-12 col-md-4"><img class="img-fluid" src="assets/img/Screenshot%20from%202024-07-29%2013-18-26.png">
                                <p style="font-size: 18px;">America’s Most Reliable Brand of Traditional Appliances</p>
                                <p>We put simplicity and durability first to give you easy-to-use appliances that give you time for those who really matter.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="true" aria-controls="accordion-1 .item-2" style="font-size: 19px;">Specifications</button></h2>
                <div class="accordion-collapse collapse show item-2" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col d-flex justify-content-center col-12 col-md-3"><img class="img-fluid" src="assets/img/Screenshot%202.png" style="width: 199.5px;"></div>
                            <div class="col col-12 col-md-9">
                                <div class="row">
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Installation Depth</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">Standard Depth</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Total Capacity (cu. ft.)</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">28.7 cu ft</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Height to Top (in.)</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">69 in</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>No. of Doors</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">3 Door</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Depth (Excluding Handlers) in.</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">33.75 in</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Height to top of Door Hinge (in)</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">69.88 in</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Dispenser Features</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">No Dispenser</h2>
                                    </div>
                                    <div class="col col-12 col-md-4 mb-5">
                                        <h4>Ice Maker Features</h4>
                                        <h2 class="fw-bold mt-4" style="color: var(--bs-light-text-emphasis);">Filtered Ice</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3" style="font-size: 19px;">Customer Reviews</button>
                    <div class="px-3" style="font-size: 22.1px;"><small class="me-3" style="font-size: 16.3px;">5 out of 5</small><i class="fa fa-star primary-color"></i><i class="fa fa-star primary-color"></i><i class="fa fa-star primary-color"></i><i class="fa fa-star primary-color"></i><i class="fa fa-star primary-color"></i><small class="ms-3" style="font-size: 16.3px;">(1,243)</small></div>
                </h2>
                <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p class="mb-0">UNDER CONSTRUCTION</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>